@model ProductVM

<form method="post" enctype="multipart/form-data" >
<input asp-for="Product.Id" hidden/>
<input asp-for="Product.ImageUrl" hidden/>
<div class="row">
    <div class="col-10">   
            <div class="border p-3 mt-4">
                <div class="row pb-2">
                    <h2 class="text-primary">@(Model.Product.Id != 0 ? "Update" : "Create") Product</h2>
                    <hr>
                </div>
                <div asp-validation-summary="All"></div>
                <div class="mb-3 row p-1">
                    <label asp-for="Product.Title" class="p-0"></label>
                    <input asp-for="Product.Title" type="text" class="form-control">
                    <span asp-validation-for="Product.Title" class="text-danger"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Product.Description" class="p-0"></label>
                    <input asp-for="Product.Description" type="text" class="form-control">
                    <span asp-validation-for="Product.Description" class="text-danger"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Product.ISBN" class="p-0"></label>
                    <input asp-for="Product.ISBN" type="text" class="form-control">
                    <span asp-validation-for="Product.ISBN" class="text-danger"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Product.Author" class="p-0"></label>
                    <input asp-for="Product.Author" type="text" class="form-control">
                    <span asp-validation-for="Product.Author" class="text-danger"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Product.ListPrice" class="p-0"></label>
                    <input asp-for="Product.ListPrice" class="form-control">
                    <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Product.Price50" class="p-0"></label>
                    <input asp-for="Product.Price50" class="form-control">
                    <span asp-validation-for="Product.Price50" class="text-danger"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Product.Price" class="p-0"></label>
                    <input asp-for="Product.Price" class="form-control">
                    <span asp-validation-for="Product.Price" class="text-danger"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Product.Price100" class="p-0"></label>
                    <input asp-for="Product.Price100" class="form-control">
                    <span asp-validation-for="Product.Price100" class="text-danger"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Product.ImageUrl" class="p-0"></label>
                    <input type="file" name="file" class="form-control">
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Product.CategoryId" class="p-0"></label>
                    <select asp-for="Product.CategoryId" class="form-control" asp-items="@Model.CategoryList"></select>
                    <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                </div>

                <div class="row">
                    @if (Model.Product.Id != 0)
                    {
                        <div class="col-6">
                            <button type="submit" class="btn btn-primary form-control">Update</button>
                        </div>

                    }
                    else
                    {
                        <div class="col-6">
                            <button type="submit" class="btn btn-primary form-control">Create</button>
                        </div>
                    }

                    <div class="col-6">
                        <a asp-controller="Category" asp-action="Index" class="btn btn-outline-secondary form-control">
                            Back to List
                        </a>
                    </div>
                </div>


            </div>

    </div>
    <div class="col-2">   
        <img src="@Model.Product.ImageUrl" width="100%"/>
    </div>
</div>

</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
        //client side validation
    }
}